@{
    ViewBag.Title = "Index";
}
<h2></h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>Managers Menu</h2>
@Ajax.ActionLink("All managers", "AllManagers", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "divManagers",
    InsertionMode = InsertionMode.Replace

}) |
@Html.ActionLink("Show Top managers","Index","Chart") |
@*@Ajax.ActionLink("Show Top managers", "Index", "Chart", new AjaxOptions()
    {
        HttpMethod = "GET",
        UpdateTargetId = "divManagers",
        InsertionMode = InsertionMode.InsertAfter

    })   |*@
@Ajax.ActionLink("Search", "Search", "Manager", new AjaxOptions()

{
    HttpMethod = "GET",
    UpdateTargetId = "divManagers",
    InsertionMode = InsertionMode.InsertAfter

})
<div id="divManagers">
</div>