@model  IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roles";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>Roles</h2>
<div>
    @foreach (var  role in Model)
    {
        <p>
            <strong>
                @role.Name
            </strong>
            @Ajax.ActionLink("View users in this role", "UsersOfRole", "Roles",new{RoleName=@role.Name}, new AjaxOptions()
       {
           
           
           LoadingElementId = "loading",
           UpdateTargetId = "divforusers"
       })
            
            <span onclick="return confirm('Are you sure you want to delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color: red;">Delete</a></span>
        </p>
    }
    <h4>  @Ajax.ActionLink("Create Role", "Create", new AjaxOptions() { UpdateTargetId = "divforcreate", InsertionMode = InsertionMode.Replace })</h4>

</div>
<div id="loading" class="load" style="display:none">
    <p>Loading...</p>
</div>
<div id="divforusers"></div>
<div id="divforcreate"></div>
