<div style="background-color:antiquewhite;">
    <h3 style="color: cornflowerblue">Users for role "@ViewBag.RoleName"</h3>
    <ol>
        @foreach (string s in ViewBag.Users)
        {
            <li>@s</li>
        }
    </ol>
</div>

