@model WebStatistic.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<h4>Roles for user - <span style="color: blueviolet">@Html.DisplayFor(model => model.UserName)</span></h4>
@if (ViewBag.Roles.Count == 0)
{
    <hr />
    <p>No roles found for this user.</p>
}

    @foreach (var item in ViewBag.Roles)
    {
        <li>
            @item
        </li>
    }

<h4>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</h4>